# Python関連
__pycache__/ *.pyc *.pyo *.pyd

# 環境関連
.env .venv/ venv/ ENV/ env/ *.env

# VSCode設定
.vscode/ # macOS .DS_Store

# SQLite DB
*.db

# QRコードや一時ファイル
*.png

# Pyenv仮想環境フォル
/.pyenv/

# テンポラリファイル
*.log *.tmp

# 設定ファイル
config.json

